// Primary Colors
$color-primary: #004ac6;

// Background Colors
$color-background-primary: #f8f9ff;
$color-background-secondary: #eff4ff;

// Accent Colors
$color-accent-light: #c4e7ff;

// Font Families
$font-family-base: "Inter", "Roboto", "Helvetica Neue", sans-serif;
$font-family-display: "Poppins";
