@use "../../../../../styles/variables" as vars;

.side-nav-content {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  .nav-link {
    transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);
    color: #4b5563;
    font-weight: 600;

    &:hover {
      background-color: vars.$color-background-secondary; /* #eff4ff */
      color: vars.$color-primary;
    }

    &.active {
      color: #ffffff;
      background-color: vars.$color-primary;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  .text-danger {
    color: #dc3545 !important;
    &:hover {
      background-color: #fff5f5;
    }
  }
}
