<div class="stops">
  <div class="stops-title">
    <img src="assets/icons/stopage-plane-icon.svg" title="Stop Plane" class="stops-icon" />
    <span class="stops-name">Stopage</span>
  </div>

  <div class="stops-info">
    <span class="city-code">DAS</span>
    <span class="divider">|</span>
    <span class="stop-time">2h 15 min</span>
  </div>

  <div class="stops-info">
    <span class="city-code">DAS</span>
    <span class="divider">|</span>
    <span class="stop-time">2h 15 min</span>
  </div>

  <div>
    <p>Cabin Class: A</p>
    <p>20 kg</p>
  </div>
</div>
