@if (this.confirmationService.loading) {
  <div class="loader d-flex justify-content-center align-items-center">
    <app-loader />
  </div>
} @else {
  <div class="section">
    <main class="container">
      <app-confirmation-header />
      @if (confirmationService.confirmationData) {
        <app-booking-info
          [bookingId]="confirmationService.confirmationData.hgNumber"
          [pnr]="confirmationService.confirmationData.pnr"
        />
      }
      <img [src]="confirmationService.wgoDeebUrl" width="1" height="1" alt="" style="border: 0px" />

      <div class="passengers">
        @for (passenger of passangers; track $index) {
          <app-passenger-info [passenger]="passenger" [airlinePNR]="confirmationService.confirmationData.pnr" />
        }
      </div>

      <app-confirmation-flight-details [flights]="flights" />

      <app-baggage-info [baggages]="confirmationService.confirmationData.airItineraries[0].baggageInformation" />
      <app-contact-info [passenger]="passangers[0]" [email]="confirmationService.confirmationData.bookingEmail" />
      <app-fare-details
        [totalFare]="confirmationService.confirmationData.airItineraries[0].itinTotalFare"
        [adds]="confirmationService.confirmationData.additionalServicesAmount"
      />
    </main>
  </div>
}
